body {
  padding-top: 30px;
  padding-bottom: 30px;
}

table {
    margin-top: 20px;
}

.active td {
    font-weight: bold;
}

.wrapper {
    max-width: 730px;
}

.ajax-loader {
    text-align: center;
}
