<!DOCTYPE html>
<html lang="fr">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurand</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
	<body>
        <div class="container wrapper" id="restaurandapp"></div>

        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script type="text/babel" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
