<!DOCTYPE html>
<html lang="fr">
	<head>
        <meta charset="utf-8">
        <title>Restaurand</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
	<body>
        <p>restaurand</p>
        <script src="{{ url_for('static', filename='js/vendor/json2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/underscore-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/backbone-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
