<!DOCTYPE html>
<html lang="fr">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurand</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
	<body>
        <div class="wrapper">
            <button>Randomiser</button>

            <table border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Liste des restaurants</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div id="ajax-loader">
                <img src="{{ url_for('static', filename='images/ajax-loader.gif') }}">
            </div><!-- .ajax-loader -->
        </div><!-- .wrapper -->
        
        {% raw %}
        <script id="restaurants-list" type="text/x-handlebars-template">
            {{#if data.length}}
                {{#each data}}
                <tr{{#unless @index}} class="first-row"{{/unless}}>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                </tr>
                {{/each}}
            {{/if}}
        </script>
        {% endraw %}

        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/handlebars/handlebars.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
